doctype html
html(lang="ru-RU")
    head
        title Hello World, motherfucker!
        link(rel="stylesheet" type="text/css" href="css/main.css")
    body
        p Hello world, and for you my dear friends!
        .slider
            .slider-item 1
            .slider-item 2 
            .slider-item 3
    script(src="js/libs.min.js")
    script(src="js/main.js")