doctype html
html(lang="ru-RU")
    head
        title Hello World, motherfucker!
        link(rel="stylesheet" type="text/css" href="css/main.css")
    body
        p Hello world, and for you my dear friends!
        p And you too, motherfucker!
    ul.custom-list
        li.custom-list-item first one
        li.custom-list-item second 
    .block-1
    .block-2