// colors
$img-path: "../img";
$background-image: '';
$base-text-color: #000;
$base-color: #fff;
$second-color: #ccc;
$feature-color: rgb(85, 100, 180);
$feature-text-color: #f00;
$link-text-color: rgb(85, 100, 180);


// metrics
$screen-lg: 1524px;
$screen-md: 1024px;
$screen-sm: 768px;
$screen-xs: 460px;


$base-margin: 10px;
$base-margin-lg: 20px;
$base-margin-md: 15px;
$base-margin-sm: 10px;

$second-margin: 5px;


$base-padding: 20px;
$second-padding: 10px;
$feature-padding: 5px;

$feature-margin: 5px;
$base-padding: 10px;
$feature-padding: 5px;

$input-height: 32px;
$input-margin: 10px;
$input-padding: 5px;


//fonts
$base-font: 'roboto';
$base-font-size: 16px;

$heading-font: 'PT Sans Narrow';