// Colors
$color-main: #fcf;
$color-second: #fcd;
$color-brand: blue;
$color-feature: red;

// Text-colors
$text-color-main: #000;
$text-color-second: #ccc;
$text-color-feature: red;
$text-color-brand: #fff;


// Margins
$margin-base: 10px;
$margin-second: 5px;

// Paddings
$padding-base: 10px;
$padding-second: 5px;