// Colors
$color-main: #ccc;
$color-second: #999;
$color-brand: blue;
$color-feature: #00B4CC;

// Text-colors
$text-color-main: #000;
$text-color-second: #ccc;
$text-color-feature: red;
$text-color-brand: #fff;


// Margins
$margin-base: 1rem;
$margin-second: 0.5rem;

// Paddings
$padding-base: 1rem;
$padding-second: 0.5rem;

// Sizes
$input-height: 2.5rem;