@import "libs";

@import 'optional/variables';

.slider-item {
  background-color: #ccc;
  width: 500px;
  height: 200px;
  border: 1px solid black;
  text-align: center;
  font-size: 5em;
  line-height: 200px;
}