//@import "libs";
//@import "reset";
@import "normalize";

@import 'variables';
@import 'mixins';

body {
  font-family: $base-font;
  font-size: $base-font-size;
  color: $base-text-color;
}

a {
  color: $link-text-color;
  text-decoration: none;

  &:hover {
    color: $link-text-color;
    text-decoration: none;
  }
}
h1,h2,h3,h4 {
  font-family: $heading-font;
}

ul {
  list-style: none;
}

button {
  outline: none;
  background: transparent;
}

input {
  height: $input-height;
  outline: none;
  background: transparent;
  border: 3px solid $second-color;
  border-radius: 8px;
}



.header {
  text-align: center;
  padding: $base-padding 0;
}

.header-logo {
  img {
    vertical-align: middle;
  }
  margin: $base-margin;
}

.header-title {
  margin: $base-margin;
  font-family: $heading-font;
  font-weight: bold;
}

.footer {
  //margin-top: 20px;
  p {
  margin: $feature-margin 0;
  text-align: center;
  }
}

.content {
  position: relative;
  margin: 20px 0;
  padding: $base-padding;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  &::before {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: url('../img/bg_hor.jpg') bottom  #ccc;
    opacity: 0.4;
    content: "";
    z-index: 0;
}
}

.resource {
  position: relative;
  box-sizing: margin;
  width: 45%;
  margin: 10px;
  padding: $second-padding;
  background: $base-color;
  border-radius: 2px;
  display: flex;
  align-items: top;
  flex-wrap: wrap;
}

.resource-image {
  position: relative;
  width: 40%;
  padding: $second-padding;
  img {
    width: 100%;
    height: auto;
  }
  &:before {
    content: '';
    display: inline-block;
    position: absolute;
    width: 19px;
    height: 13px;
    bottom: $second-padding + $feature-padding;
    left: $second-padding + $feature-padding;
    background: url('../img/arrow.png');
  }
}

.resource-description {
  height: 400px;
  padding: $second-padding;
  width: 60%;
}

.resource-logo {
  max-height: 30px;
  vertical-align: baseline;
}

.description-title {
  margin: $second-margin 0;
}

.resource-advanced {
  padding: $second-padding;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  vertical-align: middle;
}

.advanced-title {
  width: 100%;
  margin: $second-margin 0;
  color: $feature-color;
}

.resource-search {
  position: relative;
  width: 100%;
  //padding: 10px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  input {
    position: relative;
    width: 100%;
    padding-left: 15px;

    &:focus {
      border-color: $feature-color;
    }

    &[type=search] {
      &:after {
        content: 'fqwwwwwwwwwwwwwss';
        display: inline-block;
        position: absolute;
        top: 0;
        right: 0;
        height: $input-height;
        width: $input-height;
        background: url('../img/search-32.png') center;
        color: #000;
      }
    }
  }

  button {
    position: absolute;
    top: $input-padding;
    right: $input-padding*3;
    border: none;
    height: 32px;
    width: 32px;
    background: url('../img/search-32.png') center;
    cursor: pointer;
    &:focus {
      border-color: $feature-color;
    }
  }

}

.advanced-list {
  width: 100%;
  padding: $second-padding;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}


.advanced-li {
  //display: block;
  //width: 20%;
  margin: 0;
  font-size: 0.8em;
}


// modificators

.full {
  width: 100%;
}


@import 'media';