@import "libs";

@import 'optional/variables';

body {
    background: $base-color;
    color: $base-text-color;
    font-weight: bold;
    p {
        &:after {
            content: '';
            display: block;
            width: 20px;
            height: 20px;
            background: red;
        }
    }
}

.custom-list {
  display: flex;
    justify-content: space-around;
}
.custom-list-item {
  color: green;
  &:before {
    content: 'Fantastic';
    font-size: 2em;
    color: pink;
  }
}

.block-1 {
  height: 1000px;
}
.block-2 {
  height: 200px;
  background: #f0f;
}