body {
    font-size: 14px;
    //font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 3rem;
}
h2 {
    font-size: 2rem;
}


h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1rem;
}

button, input {
    outline: none;
    border: none;
    border-radius: $border-radius;
    padding: 5px 10px;
}

input {
    height: $input-height;
    border: 2px solid $color-feature;
}

button {
    height: $input-height;
    border: 1px solid $color-feature;
    background-color: $color-feature;
    color: $text-color-brand;
}

a {
    color: $text-color-link;
}

.container {
    padding: 0;
    margin: 0 auto;
}

// Common
.show {

}

.hide {

}

.active {
    .resource-cover {
        opacity: 0;
    }

    flex-basis: 100% !important;
    order: -1;
}

// Resource

.resource-group {
    //background: $color-second;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    background: url('../img/bg_hor.jpg') $color-brand ;
    background-position: bottom;
}

.resource {
    position: relative;
    margin: $margin-base;
    border-radius: $border-radius;
    min-width: 200px;
    max-height: 350px;
    //flex: 1 0 300px;
    flex: 0 0 20%;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    padding: $padding-base;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.8);
    z-index: 5;
}

.resource-cover {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    //background: url('../img/bg_hor.jpg') $color-brand ;
    background-color: $color-brand;
    background-position: bottom;
    background-size: cover;
    display: block;
    border-radius: $border-radius;
    z-index: 1;
    font-size: 2rem;
    text-align: center;
    color: $text-color-brand;
}

.resource-title {
    margin: 0 auto;
    margin-bottom: $margin-base;
    display: inline-block;
    line-height: 1em;
    text-align: center;
    color: $text-color-main;
    text-align: center;

    // &:after {
    //     content: '';
    //     display: inline-block;
    //     width: 19px;
    //     height: 13px;
    //     background: url('../img/arrow.png') no-repeat right center;
    //     margin-left: $margin-second;
    // }
}

.resource-content {
    //border-top: 1px solid $color-second;
    padding: $padding-base;
    margin-bottom: auto;
}

.resource-img {
    max-width: 200px;
    //max-height: 200px;
    width: 30%;
    height: auto;
    float: left;
    margin-right: $margin-base;
    margin-bottom: $margin-second;
    vertical-align: top;
    //padding: $padding-second;
}

.resource-text {
    padding: 0 $padding-second;
    vertical-align: top;
}

// Resource advanced

.resource-advanced {
    min-width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.advanced-group {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: stretch;
    padding: $padding-base;
    border-top: 1px solid $color-second;
    &:first-of-type {
        border-top: 0;
    }
}

.advanced-nav {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.advanced-nav-link {
    
}

.advanced-search {
    position: relative;
    .advanced-input {
        width: 100%;
        padding-right: $input-height;
    }
    .advanced-button{
        position: absolute;
        right: 0;
        top: 0;
        height: $input-height;
        width: $input-height;
        border-radius: 0 $border-radius $border-radius 0;
    }
}


