body {
    font-size: 14px;
    //font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 3rem;
}
h2 {
    font-size: 2rem;
}


h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1rem;
}

button, input {
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
}

input {
    height: $input-height;
    border: 2px solid $color-feature;
}

button {
    height: $input-height;
    border: 1px solid $color-feature;
    background-color: $color-feature;
    color: $text-color-brand;
}

a {
    color: $text-color-link;
}

.container {
    padding: 0;
    margin: 0 auto;
}

// Common
.show {
    display: inherit !important;
    visibility: visible !important;
}

.hide {
    display: none !important;
    visibility: hidden !important;
}


// Resource

.resource-group {
    background: $color-second;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    background: url('../img/bg_ver.jpg') $color-brand ;
    background-position: 50% 0;
    background-attachment: fixed;
    //padding: 0 $margin-base;
}

.resource {
    position: relative;
    margin: $margin-base;
    min-width: 200px;
    flex: 1 0 300px;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.5);
}

.resource-cover {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: $color-brand;
    background-image: url('../img/bg1.jpg');
    background-size: cover;
    display: block;
}

.resource-title {
    line-height: 1em;
    text-align: center;
    //margin: $margin-base;
    padding: $padding-base;
    color: $text-color-main;

    &:after {
        content: '';
        display: inline-block;
        width: 19px;
        height: 13px;
        background: url('../img/arrow.png') no-repeat right center;
        margin-left: $margin-second;
    }

    span {
        vertical-align: middle;
        font-size: 0.8rem;
    }
    a {
        vertical-align: baseline;
        text-decoration: none;
    }
}

.resource-content {
    border-top: 1px solid $color-second;
    padding: $padding-base;
    margin-bottom: auto;
}

.resource-img {
    max-width: 200px;
    //max-height: 200px;
    width: 30%;
    height: auto;
    float: left;
    margin-right: $margin-base;
    margin-bottom: $margin-second;
    vertical-align: top;
    //padding: $padding-second;
}

.resource-text {
    padding: 0 $padding-second;
    vertical-align: top;
}

// Resource advanced

.resource-advanced {
    padding: $padding-base;
    border-top: 1px solid $color-second;
}

.advanced-group {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-content: flex-start;
}

.advanced-nav-item {
    margin-right: $margin-second;
    &:after {
        content: '|';
        color: $color-second;
    }
    &:last-of-type {
        margin-right: 0;
        &:after {
            content: '';
        }
    }
    
}

.advanced-nav-link {
    
}

.advanced-search {
    position: relative;
    .advanced-input {
        width: 100%;
        padding-right: $input-height;
    }
    .advanced-button{
        position: absolute;
        right: 0;
        top: 0;
        height: $input-height;
        width: $input-height;
        border-radius: 0 5px 5px 0;
    }
}
